---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---


<Layout
	title="Secretaria Municipal"
	description="Lorem ipsum dolor sit amet"
	heroImage={AboutHeroImage}
>
	<p>
		Es un órgano auxiliar del Municipio, encargado de garantizar el apoyo eficiente 
		y eficaz a las funciones del Concejo y de los concejales. Estará a cargo de un 
		secretario, quien actuará asistido por un funcionario auxiliar denominado 
		subsecretario, ambos bajo la dirección del presidente del Concejo Municipal.
	</p>

	<p>Sec. Rosa Rojas</p>

	<p>Sub sec. Ibelisse Rodríguez</p>

	<h1>Gacetas</h1>
	
</Layout>
