---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import AboutHeroImage from '../assets/logo1.png';
import '../styles/home.css';
import '../styles/sugerencias.css';
---

<!doctype html>
<html lang="en">


<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>

	<style>
    ul li a,
    p a {
      color: #6b6b6b;
      text-decoration: none;
      transition: color 0.2s ease;
    }

    ul li a:hover,
    p a:hover {
      color: #000;
      text-decoration: underline;
    }
  </style>

	<body>  

		<Header />
		<main>

			<!-- Flechas fijas al fondo -->
    		<div class="arrow arrow-left">
      		<div class="chevron"></div>
      		<div class="chevron"></div>
      		<div class="chevron"></div>
      		<div class="chevron"></div>
      		<div class="chevron"></div>
      		<div class="chevron"></div>
    		</div>

    		<div class="arrow arrow-right">
      		<div class="chevron"></div>
      		<div class="chevron"></div>
      		<div class="chevron"></div>
      		<div class="chevron"></div>
      		<div class="chevron"></div>
      		<div class="chevron"></div>
    		</div>

  				<div style="text-align: center; margin-top: 2rem;">

   				 	<h1>Hola Ciudadano!</h1>
   					 <img src={AboutHeroImage.src} alt="Logo del Concejo Municipal" style="max-width: 600px; width: 90%; height: auto; margin-top: 1.5rem; border-radius: 30px;" />
  				</div>
			
			</div>

			<p>El Concejo Municipal de Chacao es el órgano legislativo que se organiza en comisiones de trabajo para las distintas áreas como son: Comisión de Hacienda y Contraloría, Comisión de Capital Humano, Comisión de Bienestar e Innovación, Comisión de Ecología y Desarrollo Sustentable, Comisión de Gestión Urbana y Turismo, Comisión de Seguridad Ciudadana y Servicios Públicos, Comisión de Participación Ciudadana.

			<p>Presidente: Máximo Sánchez</p>

				<p>Se contituye por:</p>

			<ul>
  			<li><a href="/direccion">Dirección de Atencion y Orientación al Ciudadano</a></li>
  			<li><a href="/about">Secretaria Munipal</a></li>
  			<li><a href="/blog">Comisiones</a></li>
			<li><a href="/">Oficina de Patrimonio Cultural</a></li>
			</ul>

			<h3>
  			<span class="poppins-bold">Dirección de Atención y Orientación al ciudadano</span>
			</h3>

			<p>
				Promueve la Participación Ciudadana, suministra y ofrece de forma oportuna, adecuada y efectiva 
				la información requerida, así como también orientar, recibir y tramitar denuncias, quejas, reclamos, 
				sugerencias, peticiones y solicitudes que formulen los ciudadanos, sea por vía presencial o por vía 
				telefónica o telemática.
			</p>

			<p>Dir. Josethlyn Silva</p>

			<p>
				<a href="https://www.instagram.com/daoc_concejochacao" target="_blank" rel="noopener noreferrer">
  				@daoc_concejochacao
				</a>
			</p>

			<h3>
  			<span class="poppins-bold">Secretaria Municipal</span>
			</h3>

			<style lang="css">
  			@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

  			.poppins-light {
  	  		font-family: 'Poppins', sans-serif;
    		font-weight: 300;
  			}
  			.poppins-bold {
    		font-family: 'Poppins', sans-serif;
    		font-weight: 700;
  			}
		</style>

			<p>
				Es un órgano auxiliar del Municipio, encargado de garantizar el apoyo eficiente y eficaz a 
				las funciones del Concejo y de los concejales. Estará a cargo de un secretario, quien actuará 
				asistido por un funcionario auxiliar denominado subsecretario, ambos bajo la dirección del 
				presidente del Concejo Municipal.
			</p>

			<p>Sec. Rosa Rojas</p>

			<p>Sub sec. Ibelisse Rodríguez</p>

			<h4>
  			<span class="poppins-bold">Oficina de Patrimonio Cultural</span> 
			</h4>

			<style lang="css">
  			@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

  			.poppins-light {
  	  		font-family: 'Poppins', sans-serif;
    		font-weight: 300;
  			}
  			.poppins-bold {
    		font-family: 'Poppins', sans-serif;
    		font-weight: 700;
  			}
		</style>

			<p>
				Define y ejecuta las políticas culturales y turísticas del municipio, 
				incluyendo la protección del patrimonio cultural.
			</p>

			<p>
				<a href="https://www.instagram.com/daoc_concejochacao" target="_blank" rel="noopener noreferrer">
  				@opcchacao
				</a>
			</p>

<section class="sugerencias-box">
  <div class="sugerencias-content">
    <h2>Sugerencias y Comentarios</h2>
    <p>
      Tu opinión es importante para seguir mejorando el servicio al ciudadano.
      Comparte tus ideas, preguntas o sugerencias a través del formulario.
    </p>

    
   <center><a 
      href="https://docs.google.com/forms/d/e/1FAIpQLSehdGuB9LmR_f9xcN_mrzHeZ0fm1b1mMOm2PYQcsDolNkIeIQ/viewform?usp=header" 
      target="_blank" 
      rel="noopener noreferrer"
      class="sugerencias-btn"
    >
      Abrir formulario
    </a></center>

  

  </div>
</section>

		</main>

		
		<Footer />
		
	</body>

</html>

